<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
	<connectionStrings>
		<add name="ProductEntities" connectionString="metadata=res://*/Product.csdl|res://*/Product.ssdl|res://*/Product.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COJ\SQLEXPRESS;initial catalog=DSProduct;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="DSCartEntities" connectionString="metadata=res://*/Cart.csdl|res://*/Cart.ssdl|res://*/Cart.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=COJ\SQLEXPRESS;initial catalog=DSCart;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="httpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="ProductService">
        <endpoint address="" behaviorConfiguration="httpBehavior" binding="webHttpBinding" contract="DS.Product.Service.IProductService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
	  <bindings>
		  <basicHttpBinding>
			  <binding name="BasicHttpBinding_IGetProducts"  maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
		  </basicHttpBinding>
	  </bindings>
	  <client>
		  <endpoint address="http://localhost:54752/ProductService.svc" binding="basicHttpBinding"
			  bindingConfiguration="BasicHttpBinding_IGetProducts" contract="IGetProducts"
			  name="BasicHttpBinding_IGetProducts" />
	  </client>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>