USE [master]
GO
/****** Object:  Database [DSCart]    Script Date: 9/15/2013 5:52:58 PM ******/
CREATE DATABASE [DSCart]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DSCart', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DSCart.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DSCart_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\DSCart_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DSCart].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DSCart]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 9/15/2013 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[ModifyDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Cart] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CartProduct]    Script Date: 9/15/2013 5:52:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartProduct](
	[CartID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
 CONSTRAINT [PK_CartProducts] PRIMARY KEY CLUSTERED 
(
	[CartID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([ID], [CreateDate], [ModifyDate]) VALUES (1, CAST(0x0000A23A0169CF7C AS DateTime), CAST(0x0000A23A0169CF7C AS DateTime))
INSERT [dbo].[Cart] ([ID], [CreateDate], [ModifyDate]) VALUES (2, CAST(0x0000A23A0169EC43 AS DateTime), CAST(0x0000A23A0169EC43 AS DateTime))
INSERT [dbo].[Cart] ([ID], [CreateDate], [ModifyDate]) VALUES (3, CAST(0x0000A23A016FB04B AS DateTime), CAST(0x0000A23A016FB04B AS DateTime))
SET IDENTITY_INSERT [dbo].[Cart] OFF
INSERT [dbo].[CartProduct] ([CartID], [ProductID]) VALUES (3, 1)
ALTER TABLE [dbo].[CartProduct]  WITH CHECK ADD  CONSTRAINT [FK_CartProduct_Cart] FOREIGN KEY([CartID])
REFERENCES [dbo].[Cart] ([ID])
GO
ALTER TABLE [dbo].[CartProduct] CHECK CONSTRAINT [FK_CartProduct_Cart]
GO
USE [master]
GO
